:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: darkgray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #aeb9c4;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.login-card {
  display: flex;
  justify-content: center;
  background-color: rgb(130, 133, 133);
  border-radius: 10px;
}
.img-logo img{
  flex-direction: column;
  width: 50%;
  
}

.login-card span {
  padding: 3rem;
  font-style: oblique;
  color: black;
}

.login-text-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-text-field h3{
  color: black;
}

.login-text-field input {
  background-color: rgb(220, 250, 250);
  border-color: #1a1a1a;
  border-radius: 8px;
  width: 200px;
  height: 25px;
}

.login-text-field input:hover {
  border-color: #fcff64;
}

.login-btn button{
  background-color: rgb(72, 175, 216);
  border-color: #535bf2;
  margin-top: 20px;
  margin-bottom: 20px;
}